body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background: #070515;
    caret-color: transparent;
    overflow: hidden;
}
/*ADD FONT EXTERNALLY*/
@font-face {
    font-family: myFontMedium;
    src: url(./Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf);
}
@font-face {
    font-family: myFontBold;
    src: url(./Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf);
}
@font-face {
    font-family: myFontRegular;
    src: url(./Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf);
}
.container{
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    border: 1px solid #272456;
    background: url(images/15\ Prayers\ for\ Difficult\ Seasons.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.container.containerMorning{
    background: url(images/Teaching\ Our\ Kids\ to\ Have\ a\ Heavenly\ Perspective\ and\ Better\ Mom\ Mondays\ Link-up!\ —\ The\ Better\ Mom.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container.containerAfternoon{
    background: url(images/15\ Prayers\ for\ Difficult\ Seasons.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container.containerEvening{
    background: url(images/d2a92ac6-e119-46f7-9f73-df68aebd2520.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container.containerNight{
    background: url(images/Night\ Blue\ Sky\ Background\,\ Galaxy\,\ Night\,\ Moon\ Background\ Image\ And\ Wallpaper\ for\ Free\ Download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container.containerMidnight{
    background: url(images/Premium\ Photo\ _\ Background\ night\ sky\ with\ stars\,\ moon\ and\ clouds_\ elements\ of\ this\ image\ furnished\ by\ nasa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container select{
    font-family: myFontMedium;
    width: 100%;
    height: 40px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: none;
    border-bottom: 1px solid #272456;
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 15px;
    padding-left: 2%;
}
.container select option{
    background: #070515;
}
.timeBox{
    text-align: center;
    margin: 0;
    margin-top: 15px;
    color: #fff;
    font-family: myFontRegular;
    font-size: 35px;
}
.dateBox{
    text-align: center;
    margin: 0;
    margin-top: 0px;
    color: #fff;
    font-family: myFontRegular;
    font-size: 25px;
}
.countryName{
    text-align: center;
    margin: 0;
    margin-top: 5px;
    color: #fff;
    font-family: myFontMedium;
    font-size: 23px;
}
